@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&family=Literata:ital,wght@1,900&display=swap');

// brand colors
$wine: #9b4464;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #fffffd;
$red: #dd3f3f;
$blue: #6376bf;
$green: #7dbf91;

// Bulma global variables
$family-sans-serif: 'Inter', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $wine;
$link: $blue;

// Bulma component variables
$body-background-color: $beige-lighter;
$input-shadow: none;
$modal-background: #4b2d32a6 !important;

// Box
.box {
  // box-shadow: none !important;
  border: 1px solid $grey-light;
}

body,
#app {
  min-height: 75vh;
}

@import 'node_modules/bulma/bulma.sass';
